<form method="post" action="/compliments/{{:id}}?_method=put">
  <input type='text' name='compliment' placeholder='enter compliment' value='{{compliment}}'>
  <input type='submit' value="Edit Compliment"/>
</form>
